# autotools
Makefile
autom4te.cache/
config.log
config.status
advance/lib/config.h

# projects
*.dst
*.epr

# archive
*.zip
*.tar.gz

# objects
advcfg
advj
advk
advm
advmame
advmamed
advmenu
advmenud
advs
advv
*.exe
*.o

# generated doc
doc/*.1
doc/*.hh
doc/*.html
doc/*.txt

# extra dirs
mess.complete/
mess.ori.complete/
mess.ori/
mess/
obj/
src.complete/
src.ori.complete/
src.ori/
src/
srcmess.complete/
srcmess.ori.complete/
srcmess.ori/
srcmess/

