#include <windows.h>

#define _VER_BUILD_PRODUCTVERSION_STR(a)	#a
#define VER_BUILD_PRODUCTVERSION_STR(a,b,c,d)	_VER_BUILD_PRODUCTVERSION_STR(a##.##b##.##c##.##d)

#define VER_MAJOR_PRODUCTVER		1
#define VER_MINOR_PRODUCTVER		2
#define VER_PRODUCTBUILD		0
#define VER_PRODUCTBUILD_QFE		0

#define VER_COMPANYNAME_STR 		"Andrea Mazzoleni"
#define VER_PRODUCTNAME_STR 		"SVGALIB"
#define VER_LEGALCOPYRIGHT_YEARS	"2004"
#define VER_LEGALCOPYRIGHT_STR		"Copyright (c) Andrea Mazzoleni " VER_LEGALCOPYRIGHT_YEARS
#define VER_LEGALTRADEMARKS_STR		""
#define VER_PRODUCTVERSION		VER_MAJOR_PRODUCTVER,VER_MINOR_PRODUCTVER,VER_PRODUCTBUILD,VER_PRODUCTBUILD_QFE
#define VER_PRODUCTVERSION_STR		VER_BUILD_PRODUCTVERSION_STR(VER_MAJOR_PRODUCTVER,VER_MINOR_PRODUCTVER,VER_PRODUCTBUILD,VER_PRODUCTBUILD_QFE)
#define VER_FILEVERSION			VER_PRODUCTVERSION
#define VER_FILEVERSION_STR		VER_PRODUCTVERSION_STR
#define VER_PRODUCTVERSION_W		(VER_MAJOR_PRODUCTVER<<16 | VER_MINOR_PRODUCTVER)
#define VER_PRODUCTVERSION_DW       	(VER_MAJOR_PRODUCTVER<<24 | VER_MINOR_PRODUCTVER<<16 |VER_PRODUCTBUILD)

#define VER_FILETYPE			VFT_DRV
#define VER_FILEFLAGSMASK		VS_FFI_FILEFLAGSMASK
#define VER_FILEOS          		VOS_NT_WINDOWS32
#define VER_FILEFLAGS			0
#define VER_FILESUBTYPE			VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR		"SVGALIB Helper Driver"
#define VER_INTERNALNAME_STR		"svgawin.sys"
#define VER_ORIGINALFILENAME_STR	VER_INTERNALNAME_STR

#ifdef RC_INVOKED

VS_VERSION_INFO VERSIONINFO
FILEVERSION    VER_FILEVERSION
PRODUCTVERSION VER_PRODUCTVERSION
FILEFLAGSMASK  VER_FILEFLAGSMASK
FILEFLAGS      VER_FILEFLAGS
FILEOS         VER_FILEOS
FILETYPE       VER_FILETYPE
FILESUBTYPE    VER_FILESUBTYPE
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"   /* LANG_ENGLISH/SUBLANG_ENGLISH_US, Unicode CP */
        BEGIN
            VALUE "CompanyName",     VER_COMPANYNAME_STR
            VALUE "FileDescription", VER_FILEDESCRIPTION_STR 
            VALUE "FileVersion",     VER_FILEVERSION_STR
            VALUE "InternalName",    VER_INTERNALNAME_STR
            VALUE "LegalCopyright",  VER_LEGALCOPYRIGHT_STR
            VALUE "OriginalFilename",VER_ORIGINALFILENAME_STR
            VALUE "ProductName",     VER_PRODUCTNAME_STR
            VALUE "ProductVersion",  VER_PRODUCTVERSION_STR
        END

    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END

#endif

